<body>
    <main class="ajustCenter">

        <ion-content class="content">
            <ion-card class="content-card">
                <ion-card-header>
                    <div class="ajustCenter">
                        <ion-avatar>
                            <img alt="Silhouette of a person's head"
                                src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                        </ion-avatar>
                    </div>

                    <ion-card-title>
                        <h2>Registrarse</h2>
                    </ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    <ion-input label="Ingrese Correo" label-placement="floating" fill="outline" type="email"
                        placeholder="Correo" [(ngModel)]="email" name="email" (input)="onInputChange()"></ion-input>
                    <br>
                    <ion-input label="Ingrese Nombre" label-placement="floating" fill="outline" placeholder="Nombre"
                        [(ngModel)]="name" name="name" (input)="onInputChange()"></ion-input>
                    <br>
                    <ion-input label="Ingrese Apellido" label-placement="floating" fill="outline" placeholder="Apellido"
                        [(ngModel)]="lastname" name="lastname" (input)="onInputChange()"></ion-input>
                    <br>
                    <ion-input label="Ingrese Teléfono" label-placement="floating" fill="outline" type="number"
                        placeholder="Teléfono" [(ngModel)]="phone" name="phone" (input)="onInputChange()">
                    </ion-input>
                    <br>
                    <ion-input label="Ingrese Contraseña" label-placement="floating" fill="outline" type="password"
                        placeholder="Contraseña" [(ngModel)]="password" name="password"
                        (input)="onInputChange()"></ion-input>
                    <br>
                    <ion-button expand="block" shape="round" id="open-toast" [disabled]="onInputChange()"
                        (click)="registre()">Registrar</ion-button>

                    <ion-alert [isOpen]="isAlertOpen" header="Error" message="Este Correo ya existe"
                        [buttons]="alertButtons" (didDismiss)="setOpen(false)"></ion-alert>
                </ion-card-content>

                <div class="txt-register" routerLink="/login" routerDirection="root">
                    <ion-text color="tertiary">
                        <p>Ya tienes cuenta</p>
                    </ion-text>
                </div>

            </ion-card>
        </ion-content>


    </main>

</body>