.image-card-journey{
    width: 100% !important;
    height: 7rem;   
}

ion-card{
    margin: 1rem 2rem;
}

body{
    background-color: rgb(238, 237, 237);
}

ion-input{
    margin-top: 0.5rem;
}

.input-card-com{
    margin: 0rem 1rem;
}